.bigtext p{
	line-height: 2;
}

.bigtext a img{
	height: 20px;
}

.skills{
	line-height: 1.1;
}

.skillbarbg{
	width: 100%; 
    background-color: #005b5e; 
}

.skillbarfg{
	text-align: right; 
    padding-right: 20px;
    line-height: 20px; 
	color: white; 
	background-color: #008f96;
}

.gapps {width: 100%; } 
.biology {width: 100%;} 
.tech {width: 100%;} 
.science {width: 95%;} 
.pd {width: 85%;} 
.cs {width: 75%;} 
.leadership {width: 70%;} 
.networking {width: 65%;} 
.java {width: 55%;} 
