/* -----
SVG Icons - svgicons.sparkk.fr
----- */

.svg-icon {
  width: 1em;
  
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
  fill: #008f96;
}

.svg-icon circle {
  stroke: #008f96;
  stroke-width: 1;
}