body{
	padding: 0;
	margin: 0;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	background-image: url(Images/tilebg.jpg);
	background-attachment: fixed;
	background-size: 100%;
	font-size: 16px;
	font-weight: 500;
}

header{
	text-align: center;
	height: 205px;
	width: 90%;
	padding-top: 10px;
	color: #0068b3;
	margin: auto;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	background-color: rgba(0, 0, 0, .85);
}

header img{
	height: 40%;
}


.sidebyside{
	height: 225px;
	width: 42%;
	margin-top: 2%;
	padding-left: 1%;
	padding-right: 1%;
	padding-top: 10px;
	color:#0068b3;
	border-radius: 10px;
	background-color: rgba(0, 0, 0, .85);
}

article{
	margin-left: 5%;
	float:left;
}

aside{
	margin-right: 5%;
	float: right;
	text-align: center;
}

#obs{
	display: block;
	margin: auto;
	height: 70%;
}

section{
	float: left;
	height: auto;
	margin-left: 5%;
	width: 88%;
	margin-top: 2%;
	margin-bottom: 2%;
	padding-left: 1%;
	padding-right: 1%;
	padding-top: 10px;
	padding-bottom: 10px;
	color:#FDB813;
	border-radius: 10px;
	background-color: rgba(0, 0, 0, .85);
}

form{
	
	background-color: darkblue;
	height: auto;
}

::placeholder{
	color:grey;
}

input, textarea, select{
	color: grey;
	resize: none;
	width: 100%;
	margin-bottom: 10px;
	padding: 5px;
	border: 2px solid rgba(100, 200, 255, .85);
	border-radius: 8px;
	background-color: rgba(100, 200, 255, .25);;
}

textarea{
	height: 110px;
}



input[type=radio], input[type=checkbox]{
	width: initial;
}

input[type=submit]{
	width: 50%;
	background-color:rgba(100, 200, 255, .75);
	color: white;
	display: block;
	margin: auto;

}
.lefty{
	float: left;
	width: 48%;
}

.righty{
	float:right;
	width: 48%;
}

.widey{
	float:left;
	width: 100%;
}

.neiucolors{
	background-color: #0068b3;
	color:#FDB813;
}